footer{
    width: 100%;
    background: linear-gradient(45deg, #1B3743, #1D5271);
    margin-top: 1%;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 1% auto 1% auto;
    width: 75%;
    text-align: center;
    align-items: center;
}
footer ul li{
    list-style: none;
    font-size: small;
    width: 10%;
}

footer ul li a{
    text-decoration: none;
    color: #fff;
}